name: docker test of github actions

on:
    push:
        branch: main

jobs:
    test:
        name: docker test of gha
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repo
              uses: actions/checkout@v3

#             - name: Setup environment
#               uses: docker/setup-buildx-action@v2

            - uses: docker/build-push-action@v2
              with:
                tags: test_image
                push: false

            - uses: addnab/docker-run-action@v3
              with:
                image: test_image
                run: